body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.mockup {
  top: 15px;
  position: absolute;
  pointer-events: none;
  display: block;
  width: 350px;
  left: 0;
  right: 0;
  margin: auto;
}

div {
  width: 320px;
  margin: 30px auto 0;
  height: 665px;
  border-radius: 45px;
  background-color: #fFF;
  padding: 15px 20px;
}

h1 {
  margin-top: 56px;
  font-size: 14px;
  color: #222;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

form.enriched input[type="submit"] {
  display: none;
}

.hidden {
  display: none;
}

form.enriched input {
  width: 100%;
}

header a {
  position: absolute;
  top: 47px;
  padding: 10px;
  left: 15px;
}

ul {
  overflow: scroll;
  height: 490px;
  padding: 0;
  background: #FFF;
}

li {
  line-height: 60px;
  list-style: none;
  border-bottom: 1px #f2f2f2 solid;
}

figure + ul li {
  padding: 0 16px;
}


ul a img {
  width: 50px;
}

a span {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  display: block;
}

aside {
  background-color: #f2f2f2;
  padding: 16px 16px;
}

input {
  height: 40px;
  width: 70%;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 14px;
  outline: none;
  border: 1px solid #AAAAAA;
}

input:hover, input:focus {
  border: 1px solid #536DFE;
}

figure {
  border-radius: 50%;
  overflow: hidden;}


input[type=submit] {
  border-radius: 5px;
  width: 80px;
  background: #536DFE;
  color: #FFF;
  border: 1px solid #536DFE;
  transition: all 200ms ease;
}

input[type=submit]:focus, input[type=submit]:hover {
  color: #536DFE;
  background: #FFF;
  cursor: pointer;
}

section {
  position: absolute;
  left: 0;
  right: 0;
  width: 320px;
  margin: auto;
}

a {
  align-items: center;
  display: flex;
  text-decoration: none;
  padding: 0 16px;
  color: #222;
  line-height: 60px;
  font-weight: 300;
}