<!DOCTYPE html>
<html>
<head>
    <title>Contactlijst</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<section>
    <header>
        <h1>Contactlijst</h1>
    </header>
    <aside>
        <form id="form-contacts" action="/" method="post">
            <input id="input-name" type="text" name="name" placeholder="Zoek op naam">
            <input id="submit" type="submit" name="name" value="Zoeken">
        </form>
    </aside>
    <ul id="contacts">
        <% for(var i = 0; i < contacts.length; i++) { %>
        <li>
            <a href="/<%= contacts[i].link %>">
                <span><img src="<%= contacts[i].photo %>" alt="details van"></span><%= contacts[i].name %>
            </a>
        </li>
        <% } %>
    </ul>
</section>
<script>
    // if ('serviceWorker' in navigator) {
    //     navigator.serviceWorker.register('/sw.js');
    // }
</script>
<script src="/javascripts/main.js"></script>
</body>
</html>
