body {
    padding: 0;
    background: #536DFE;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    outline: none;
}

div {
    width: 320px;
    margin: 30px auto 0;
    height: 665px;
    border-radius: 45px;
    background-color: #fFF;
    padding: 15px 20px;
}

aside label {
    display: none;
}

h1 {
    margin-top: 30px;
    font-size: 14px;
    color: #222;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

form.enriched input[type="submit"] {
    display: none;
}

.hidden {
    display: none;
}

form.enriched input {
    width: 100%;
}

header a {
    position: absolute;
    top: 22px;
    padding: 10px;
    left: 5px;
}

#contacts {
    padding: 0;
    margin-top: 0;
    background: #FFF;
}

#contacts > li {
    border-bottom: 1px #f2f2f2 solid;

}

li {
    line-height: 60px;
    list-style: none;
    border-bottom: 1px #FFF solid;
}

ul a img {
    width: 50px;
}

a span {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin: auto 16px auto 0;
    display: block;
    top: 0;
    bottom: 0;
}

form {
    padding: 10px 16px;
    height: 60px;
}

input {
    height: 40px;
    width: 70%;
    border-radius: 40px;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
    border: 1px solid #AAAAAA;
    float: left;
}

input:hover, input:focus {
    border: 1px solid #536DFE;
}

figure {
    border-radius: 50%;
    overflow: hidden;
    height: 240px;
    width: 240px;
    margin: 10px auto;
}

input[type=submit] {
    width: 28%;
    margin-left: 2%;
    background: #536DFE;
    color: #FFF;
    border: 1px solid #536DFE;
    transition: all 200ms ease;
}

input[type=submit]:after {
    clear: both;
}

input[type=submit]:focus, input[type=submit]:hover {
    color: #536DFE;
    background: #FFF;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

ul ul a {
    padding: 0 80px;
}

a + ul {
    height: 0;
    overflow: hidden;
    transition: height 300ms ease;
}

a.open + ul {
    height: 120px;
    transition: height 300ms ease;
}

section {
    position: absolute;
    overflow: hidden;
    background: #FFF;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    min-height: 80vh;
    margin: 20px auto 20px;
}

@media screen and (max-width: 800px) {
    section {
        max-width: 500px;
    }
}
@media screen and (max-width: 500px) {
    body {
        margin: 0;
        background: #FFF;
    }
    section {
        margin: 0;
    }
}

#contacts > li > a {
    font-weight: 400;
    position: relative;
    display: block;
    height: 60px;
}


#contacts > li > a:before {
    content: '';
    right: 0;
    height: 60px;
    top: 0;
    width: 44px;
    position: absolute;
    background-image: url("../images/next.png");
    background-repeat: no-repeat;
    background-position: right 16px center;
    transform: rotate(0deg);
    transition: transform 200ms ease;
}

#contacts > li > a.open:before  {
    transform: rotate(90deg);
}
a {
    position: relative;
    align-items: center;
    text-decoration: none;
    padding: 0 16px 0 80px;
    color: #222;
    line-height: 60px;
    font-weight: 200;
    transition: background-color 200ms ease;
}

a:focus, a:hover {
    background-color: #f2f2f2;
}

span {
    position: absolute;
    left: 16px;
}

@supports ( display: flex ) {
    #contacts > li > a {
        display: flex;
        padding: 0 16px;
    }
    span {
        position: relative;
        left: 0;
    }
}
