body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    outline: none;
}

.mockup {
    top: 15px;
    position: absolute;
    pointer-events: none;
    display: block;
    width: 350px;
    left: 0;
    right: 0;
    margin: auto;
}

div {
    width: 320px;
    margin: 30px auto 0;
    height: 665px;
    border-radius: 45px;
    background-color: #fFF;
    padding: 15px 20px;
}

aside label {
    display: none;
}

h1 {
    margin-top: 30px;
    font-size: 14px;
    color: #222;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

form.enriched input[type="submit"] {
    display: none;
}

.hidden {
    display: none;
}

form.enriched input {
    width: 100%;
}

header a {
    position: absolute;
    top: 22px;
    padding: 10px;
    left: 5px;
}

#contacts {
    overflow: scroll;
    height: 542px;
    padding: 0;
    margin-top: 0;
    background: #FFF;
}

@supports ( pointer-events: none ) {
   #contacts:before {
        content: '';
        z-index: 1;
        display: block;
        position: absolute;
        top: 118px;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: inset 0px 20px 30px -10px #FFF,
        inset 0px -20px 30px -10px #FFF;
        -webkit-box-shadow: inset 0px 20px 30px -10px #FFF,
        inset 0px -20px 30px -10px #FFF;
        -moz-box-shadow: inset 0px 20px 30px -10px #FFF,
        inset 0px -20px 30px -10px #FFF;
        height: 545px;
        pointer-events: none;
    }
}

li {
    line-height: 60px;
    list-style: none;
    border-bottom: 1px #f2f2f2 solid;
}

ul a img {
    width: 50px;
}

a span {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    display: block;
}

aside {
    padding: 10px 16px;
}

input {
    height: 40px;
    width: 70%;
    border-radius: 40px;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
    border: 1px solid #AAAAAA;
}

input:hover, input:focus {
    border: 1px solid #536DFE;
}

figure {
    border-radius: 50%;
    overflow: hidden;
    height: 240px;
}

input[type=submit] {
    width: 80px;
    background: #536DFE;
    color: #FFF;
    border: 1px solid #536DFE;
    transition: all 200ms ease;
}

input[type=submit]:focus, input[type=submit]:hover {
    color: #536DFE;
    background: #FFF;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

section {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    width: 320px;
    height: 661px;
    margin: 20px auto 0;
    border: 1px solid #f2f2f2;
}

a {
    position: relative;
    align-items: center;
    text-decoration: none;
    padding: 0 16px 0 80px;
    color: #222;
    line-height: 60px;
    font-weight: 300;
    transition: background-color 200ms ease;
}

a:focus, a:hover {
    background-color: #f2f2f2;
}

span {
    position: absolute;
    left: 16px;
}

@supports ( display: flex ) {
    a {
        display: flex;
        padding: 0 16px;
    }
    span {
        position: relative;
        left: 0;
    }
}
